<section>
    <h1 class="text-center text-main my-2">Forget Password</h1>

@if (step == 1) {
    <form [formGroup]="verifyEmail" class="bg-main-light p-3 shadow rounded-4" (ngSubmit)="verifyEmailSubmet()">
        <div class="my-2">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" class="form-control">
        </div>
        <button [disabled]="verifyEmail.invalid" class=" btn-main">Verify Email
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
        </button>
        @if (msgErrorEmail) {
            <p class="alert alert-danger">{{msgErrorEmail}} </p>
                
            }
    </form>
}



@else if (step == 2) {
    <form [formGroup]="verifyCode" class="bg-main-light p-3 shadow rounded-4" (ngSubmit)="verifyCodeSubmet()" >
        <div class="my-2">
            <label for="resetCode">Reset Code</label>
            <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
        </div>
        <button [disabled]="verifyCode.invalid" class=" btn-main">Verify Code
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
        </button>
        @if (msgErrorCode) {
            <p class="alert alert-danger">{{msgErrorCode}} </p>
                
            }
    </form>
}



@else if (step == 3) {

    <form [formGroup]="resetPassword" class="bg-main-light p-3 shadow rounded-4" (ngSubmit)="resetPasswordSubmet()">
        <div class="my-2">
            <label for="email">Email</label>
            <input readonly formControlName="email" type="email" id="email" class="form-control" >
        </div>

        <div class="my-2">
            <label for="newPassword">New Password</label>
            <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
        </div>
        <button  class=" btn-main">Reset Password
                        @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
        </button>
        @if (msgErrorReset) {
            <p class="alert alert-danger">{{msgErrorReset}} </p>
                
            }

    </form>
}








</section>
