@if (detailsProduct) {
<div class="container my-5">

  <section>
    <div class="row align-items-center">
      <div class="col-md-3">

        <owl-carousel-o [options]="customOptionsMain">
          @for (img of DetailsImages; track $index) {

          <ng-template carouselSlide>
            <img [src]="img" height="300px" class="w-100" alt="">
          </ng-template>
          }




        </owl-carousel-o>
      </div>

      <div class="col-md-9">

        <h2>{{ detailsProduct.title.split(" ", 2).join(" ") }}</h2>

        <p class="my-4"> {{detailsProduct.description}}</p>

        <div class="d-flex justify-content-between align w-75 align-items-center">
          <span>{{ detailsProduct.price }} EGP</span>

          <div>
            @for (num of [1,2,3,4,5].slice( 0, detailsProduct.ratingsAverage); track
            $index) {

            <span><i class="fas fa-star rating-color"></i></span>

            } @if (detailsProduct.ratingsAverage%2!==0 ) {
            <span>
              <i class="fa-solid fa-star-half-stroke rating-color"></i>
            </span>
            }
            <span class="text-muted">{{ detailsProduct.ratingsAverage }}</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn-main w-75" (click)="addCart()">Add to cart</button>
          @if (check) {
            <span (click)="addToWish()" ><i class="fa-solid fa-heart p-2 heart cr active-class"></i></span>
          }
          @else {
            <span (click)="addToWish()" ><i class="fa-solid fa-heart p-2 heart cr inactive-class"></i></span>
          }
        </div>

      </div>


    </div>


  </section>

</div>
}