<section class=" overflow-hidden">
    
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name.." class="mx-auto my-4 w-75  form-control border-3">  <div class="row g-3">
      @for (product of productList |search :searchTerm ; track product._id) {
      <div class="col-md-3">
        <div class="product p-2" >
          <div [routerLink]="['/details',product._id]">
              <img [src]="product.imageCover" class="w-100" [alt]="product.title" />
  
          <h3 class="small text-main">{{ product.category.name }}</h3>
          <h4 class="h6">{{ product.title | teretext }}</h4>
          <div class="d-flex justify-content-between align align-items-center">
            <span>{{ product.price }}</span>
            <div>
              @for (num of [1,2,3,4,5].slice( 0, product.ratingsAverage); track
              $index) {
  
              <span><i class="fas fa-star rating-color"></i></span>
  
              } @if (product.ratingsAverage%2!==0 ) {
              <span>
                <i class="fa-solid fa-star-half-stroke rating-color"></i>
              </span>
              }
              <span class="text-muted">{{ product.ratingsAverage }}</span>
            </div>
          </div>
          </div>
          <div class="div">
            <button class="btn-main w-75" (click)="addCart(product._id)">Add to cart</button>
            <span (click)="addWishList(product._id)"><i class="fa-solid fa-heart p-2 heart cr " ></i></span>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
