.bg{
    background-color: #F8F9FA;
}
.myCon{
    border-radius: 5px;
}
h5{
    font-weight: 1000 !important;
    font-size: 20px  !important  ;
    line-height: 24px !important     ;
}
.myCart{
    font-weight: 500 !important  ;
    font-size: 32px !important   ;
    line-height: 38px !important     ;
}

.myIcon{
    font-size: 32px ;
    font-weight: 300;
    line-height: 24px;
    
}
.myBtn{
    font-size: larger;
}
btn2{
    width:10% ;

}